body {
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
    background-color: #fbf9f9;
    color: #1e1e1e;
}
img{
   float:left; 
}
.title-profile{
    margin: 20px;
    float:left;
}
.header-list{ 
    width: 500px;               /* 幅指定 */
    height: 90px;               /* 高さ指定 */
    margin:  0 auto; 
}